extends ../layout/admin

block js
  - var getListMeta = function(list) { return _.pick(list, ['key', 'label', 'path']); }
  script.
    Keystone.nav = !{JSON.stringify(nav)};
    Keystone.lists = !{JSON.stringify(_.map(lists, getListMeta))};
    Keystone.orphanedLists = !{JSON.stringify(orphanedLists.map(getListMeta))};
  script(src='/keystone/js/packages.js')
  script(src='/keystone/js/home.js')

block content
  section.wrapper
    .row
      h1 Olá, esta é sua dashboard :) 
      p Você tem diversos recursos para alimentar conteúdo do seu portal ao menu esquerdo
      
      .col-lg-9.main-chart
        .row.mtbox
          //- .col-md-2.col-sm-2.col-md-offset-1.box0
          //-   .box1
          //-     span.li_heart
          //-     h3 933
          //-   p 933 People liked your page the last 24hs. Whoohoo!
          //- .col-md-2.col-sm-2.box0
          //-   .box1
          //-     span.li_cloud
          //-     h3 +48
          //-   p 48 New files were added in your cloud storage.
          //- .col-md-2.col-sm-2.box0
          //-   .box1
          //-     span.li_stack
          //-     h3 23
          //-   p You have 23 unread messages in your inbox.
          .col-md-2.col-sm-2.box0.dashboard-itens
            a(href="/keystone/medias")
              .box1
                span.li_news
                h3 +10
              p Gerencie as mídias compartilhadas nas redes sociais
          //- .col-md-2.col-sm-2.box0
          //-   .box1
          //-     span.li_data
          //-     h3 OK!
          //-   p Your server is working perfectly. Relax & enjoy.
